.Rproj.user
.Rhistory
.RData
.Ruserdata
exam_questions/
.DS_Store
.lintr
get-pip.py
Homework_temp/
lectures/.DS_Store
*/.DS_Store
*/.Rproj.user
*/.Rhistory
*/.RData
*/.Ruserdata
homework_list.xlsx
*.aux
*.log
*.out
*.thm
*.synctex.gz
*.bbl
*.toc
*.nav
*.snm
*.blg
homework/data/Divorce-Wolfers-AER.dta
homework/homework4.synctex (Paul Goldsmith-Pinkham's conflicted copy 2025-02-14 4).gz
homework/homework4 (Paul Goldsmith-Pinkham's conflicted copy 2025-02-14 6).pdf
grading/*
.gitignore
homework/data/116250-V1*
lectures/14b_extensions_checklist.synctex (Paul Goldsmith-Pinkham's conflicted copy 2025-03-06 1).gz
*synctex*
*(Paul Goldsmith-Pinkham's conflicted copy *